<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <h1>Create User</h1>
    <form th:action="@{/users/create}" method="post" th:object="${user}">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}"/>
        </div>
        <button type="submit">Create</button>
        <a th:href="@{/users}">Cancel</a>
    </form>
</body>
