<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
<h1>User Detail</h1>
<table>
    <tr>
        <td>ID:</td>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
<a th:href="@{/users}">Back to user list</a>
</body>
</html>
